body{
	background-size: cover;
	background-image: url("images/tom.jpg");
}
.bold {
	font-weight:bold;
}
.col-sm-3{
	width:340px;
	text-align: center;
	padding-top: 20px;
	padding-left: 90px;
}
.bold{
	text-align: center;
}
.container-fluid{
		background-color:#CECEF6;
}
#new_post{
	text-align: center;
}
#delete{
	background-color: red;
}
.navbar-header{
	font-size: 40px;
	font-family: cursive; 
}
.btn btn-primary{
	width: 600px;
}
.small-container {
	max-width:800px;
}

.margin-top-10 {
	margin-top:10px;
}

.margin-top-20 {
	margin-top:20px;
}

.food-container {
	width: 600px;
	background-color:#CECEF6;
	transition:all 0.3s linear;
}

.food-container:hover {
	background-color:#DDD;
	transition:all 0.3s ease-in-out;
}

