body{
	background-image:url("images/bg-image.jpg");
	background-size: cover;
}
.btn btn-primary{
	float:right;
}
.navbar-header{
	font-size: 35px;
	color:blue;
}
.navbar navbar-default{
	background-color: #E0F2F7;
}
.col-sm-9{
	opacity:0.8;
}
.bold {
	font-weight:bold;
}

.small-container {
	max-width:600px;
}

.margin-top-10 {
	margin-top:10px;
}

.margin-top-20 {
	margin-top:20px;
}

.book-container {
	padding:20px 0;
	width:600px;
	background-color:#E0F2F7;
	transition:all 0.4s linear;
	float: right;
}

.book-container:hover {
	background-color:#DDD;
	transition:all 0.3s ease-in-out;
}

